.articlesList .row {
    height: 3em;
}

.articlesList {
    margin: 1em;
    font-size: 0.9em;
    color: black;
    background-color: #343a40;
}

.rank {
    margin: auto 1em;
}

.voteToggle {
    margin: auto 1em
}

.articleTitle {
    margin: auto auto;
}

.article-info {
    margin: auto
}

.author {
    margin: auto 2em;
}

.commentCount {
    margin: auto 2em;
}


.card {
    display:flex;
    margin-top: 0.2em;
}

.card-header {
    color: white;
}

.card-footer {
    display: inline;
    color: #dc3545;
    flex-direction: row;
    background-color: white
}

.fas {
    color: white;
}
