.App {
  text-align: center;
  background-color: #343a40;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.link {
  color: white;
}

button {
  border: none;
  outline: none;
  margin: auto 0.25em;
  background-color: #dc3545;
  cursor: pointer;
}
